*{
    text-align: center;
}

#div{
    border: 1px solid black;
    margin: auto;
    height: 100px;
    width: 500px;
}

#button{
    height: 30px;
    width: 100px;
}

.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: skyblue;
}